#header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 16px 0;
  background-color: rgba($color: #141619, $alpha: 1);
  z-index: 999;

  .flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;

    .logo {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      z-index: 999;
    }

    .burger {
      position: relative;
      display: none;
      z-index: 999;
      width: 24px;
      height: 24px;

      span {
        position: absolute;
        width: 100%;
        height: 1px;
        border: 1px solid #ffffff;
        border-radius: 24px;

        transition: all .4s ease;

        &:nth-child(2) {
          top: 50%;
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }

      &.false {
        span {

          transform: rotate(135deg);
          top: 50%;

          &:nth-child(2) {
            transform: rotate(135deg);
          }

          &:nth-child(3) {
            transform: rotate(-135deg);
          }

          transition: all .4s ease;
        }
      }

      @media screen and (max-width: 768px) {
        display: flex;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      &>* {
        cursor: pointer;
        padding: 4px 8px;
        border: 1px solid #ffffff;
        transition: all .4s ease;

        &:hover {
          color: #282c34;
          background: #ffffff;
        }
      }

      @media screen and (max-width: 768px) {
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 40px;
        right: 0;
        padding: 0px 24px 24px;
        background-color: rgba($color: #141619, $alpha: 1);
        transition: all .4s ease;

        &.true {
          transform: translateY(-200%);
          visibility: hidden;
          opacity: 0;
        }

        &>div {
          border: none;
        }
      }
    }
  }
}